{% load static %}
<footer class="footer mt-auto">
    <!--/.Footer Links-->
    <div class="container-fluid pt-5 footer-container">
        <div class="row pt-3">
            <div class="col-lg">

            </div>

            <div class="col-lg-6 col-md-12 col-12 pb-5 mb-5 footer-border-bottom">
                <div class="row mb-md-5">
                    <div class="col-md-7 col-12">
                        <div class="row">
                            <div class="col">
                                <h2 class="footer-header">
                                    SIMPLY DONATE
                                </h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <h3 class="footer-slogan">Build a better world!</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg col-md-12 col-12 text-center mt-auto mb-auto">
                        <img src="{% static 'donation/img/simply-donate-footer-logo.png' %}" width="100" alt="donation logo">
                    </div>
                </div>

            </div>

            <div class="col-lg-2 col-md-12 col-12 pt-4 pb-5 mb-5 footer-border-bottom">
                <div class="row">
                    <div class="col">
                        <h3 class="footer-header-1">ABOUT US</h3>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <a href="#" class="footer-text">
                            Terms of Service
                        </a>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <a href="#" class="footer-text">
                            Privacy Policy
                        </a>
                    </div>

                </div><div class="row">
                    <div class="col">
                        <a href="#" class="footer-text">
                            Who we Are!
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-lg-2 col-md-12 col-12 pt-4 pb-5 mb-5 footer-border-bottom">
                <div class="row">
                    <div class="col">
                        <h3 class="footer-header-1">CONTACTS</h3>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <a href="#" class="footer-text">
                            +237-65-219-5180
                        </a>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <a href="mailto:godloveyufenyuy@gmail.com" class="footer-text">
                            godloveyufenyuy@gmail.com
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-lg">

            </div>

        </div>

        <div class="row pt-1 d-flex justify-content-center pr-4">
            <ul class="footer-socials">
                <li><i class="fa-brands fa-facebook fa-2xl footer-social-icons"></i></li>
                <li><i class="fa-brands fa-twitter fa-2xl footer-social-icons"></i></li>
                <li><i class="fa-brands fa-instagram fa-2xl footer-social-icons"></i></li>
            </ul>
        </div>

        <div class="row copyright pb-2 pt-2">
            <div class="col text-center">
                <a href="mailto:godloveyufenyuy@gmail.com">GHOSTYREX &copy; COPYRIGHT {% now "Y" %}</a>
            </div>
        </div>
    </div>
</footer>
